* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

/* header */
header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 40rem;
  padding: 1rem 0 1rem 0;
}

header .logo {
  background-color: #7752fe;
  color: white;
  border-radius: 7px 24px 7px;
  padding: 0.5rem;
  cursor: pointer;
}

header .logo p {
  font-size: 2.2em;
  font-weight: 700;
}

header nav.nav-list ul {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

header nav.nav-list ul li {
  list-style-type: none;
}

header nav.nav-list ul li a {
  font-size: 1.25em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #7752fe;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease-in-out;
}

header nav.nav-list ul li:hover a {
  color: #190482;
}
