* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

/* header */
header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 40rem;
  padding: 0.5rem 0;
}

header .logo {
  background-color: #7752fe;
  color: white;
  border-radius: 7px 24px 7px;
  padding: 0.5rem;
  cursor: pointer;
}

header .logo p {
  font-size: 1.5em;
  font-weight: 700;
}

header nav.nav-list ul {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

header nav.nav-list ul li {
  list-style-type: none;
}

header nav.nav-list ul li a {
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #7752fe;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease-in-out;
}

header nav.nav-list ul li:hover a {
  color: #190482;
}

/* main */
main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main .main-container {
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.45),
      rgba(245, 245, 245, 0.45)
    ),
    url(../img/gplaypattern.png);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 6rem 5rem 10rem 5rem;
}

main .main-container .content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

main .main-container .content h1 {
  font-size: 3.5em;
  font-weight: 700;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

main .main-container .content p {
  color: #555;
  font-size: 1em;
  padding: 0 12rem 0 0;
  margin-bottom: 3rem;
}

/* .btn-group */
main .main-container .content .btn-group {
  display: flex;
  column-gap: 1rem;
}

main .main-container .content .btn-group a {
  text-decoration: none;
  border: 2px solid #7752fe;
  padding: 0.5rem 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

main .main-container .content .btn-group a.hire {
  background-color: white;
  color: #7752fe;
}
main .main-container .content .btn-group a.hire:hover {
  background-color: #7752fe;
  color: white;
}

main .main-container .content .btn-group a.projects {
  background-color: #7752fe;
  color: white;
}

main .main-container .content .btn-group a.projects:hover {
  background-color: white;
  color: #7752fe;
}

/* .aside */
main .main-container aside {
  position: relative;
}

main .main-container aside img {
  position: relative;
  top: 0.3rem;
  right: 0;
  z-index: 999;
}

main .main-container aside svg.my-background {
  position: absolute;
  top: 3.3rem;
  right: 2rem;
}

/* about */
/* header */
main section.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 5rem;
  background-color: #fafafa;
}

/* header, project & contact */
main section.about .header-about,
main section.project .header-project,
main section.contact .contact-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main section.about .header-about h2,
main section.project .header-project h2,
main section.contact .contact-header h2 {
  font-size: 2.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  position: relative;
  margin-bottom: 2.75rem;
}

main section.about .header-about h2::after,
main section.project .header-project h2::after,
main section.contact .contact-header h2::after {
  content: "";
  display: block;
  width: 2rem;
  height: 5px;
  border-radius: 10px;
  background: #7752fe;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 125%;
}

main section.about .header-about p,
main section.project .header-project p,
main section.contact .contact-header p {
  font-size: 1.15em;
  text-align: center;
  line-height: 2rem;
  color: #333;
  padding: 0 14rem;
}

/* content-about */
main section.about .content-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  column-gap: 6rem;
  margin-top: 6rem;
}

/* introduction */
main section.about .content-about article.introduction {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding-right: 8rem;
}

main section.about .content-about article.introduction h3 {
  font-size: 1.5em;
  margin-bottom: 1.7rem;
}

main section.about .content-about article.introduction p {
  color: #555;
  font-size: 1.05em;
  line-height: 2rem;
  padding-bottom: 0.5rem;
}

span.bold {
  font-weight: 700;
}

main section.about .content-about article.introduction p span.bold a {
  color: #7752fe;
}

/* skills-set */
main section.about .content-about aside.skills-set {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

main section.about .content-about aside.skills-set h3.skill-title {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 1.7rem;
}

main section.about .content-about aside.skills-set .skills {
  display: flex;
  flex-wrap: wrap;
  color: #666;
  font-weight: 600;
  font-size: 1.05em;
  gap: 1.2rem;
}

main section.about .content-about aside.skills-set .skills p.skill {
  background-color: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  padding: 0.8rem 1.6rem;
}

/* lanjut projects */
main section.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 5rem;
}

/* project content */
main section.project .project-content {
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 6rem;
}

/* project row */
main section.project .project-content .project-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 4rem;
}

main section.project .project-content .project-row .project-img {
  width: 50%;
}

main section.project .project-content .project-row .project-img img {
  width: 100%;
  border-radius: 10px;
}

/* project description */
main section.project .project-content .project-row .project-description {
  width: 34%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

main section.project .project-content .project-row .project-description h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 2rem;
}

main section.project .project-content .project-row .project-description p {
  font-size: 1.05em;
  line-height: 2rem;
  color: #555;
  margin-bottom: 2rem;
}

main section.project .project-content .project-row .project-description p a {
  color: #7752fe;
  font-weight: 600;
}

main section.project .project-content .project-row .project-description button {
  width: 35%;
  padding: 1rem 0;
  border-radius: 5px;
  border: 3px solid #7752fe;
  background-color: #7752fe;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

main
  section.project
  .project-content
  .project-row
  .project-description
  button:hover,
main section.contact .contact-content form button:hover {
  transform: perspective(1px) translateZ(0) translateY(-5px);
  transition: all 0.3s ease-in-out;
}

main
  section.project
  .project-content
  .project-row
  .project-description
  button
  a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* contact */
main section.contact {
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.45),
      rgba(245, 245, 245, 0.45)
    ),
    url(../img/gplaypattern.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 5rem;
}

/* contact-content */
main section.contact .contact-content {
  width: 65%;
  background-color: white;
  margin-top: 6rem;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 0 12px rgba(153, 153, 153, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

main section.contact .contact-content form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 2.5rem;
}

main section.contact .contact-content form .form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

main section.contact .contact-content form .form-field label {
  color: #555;
  font-size: 1em;
  font-weight: 600;
  text-transform: capitalize;
}

main section.contact .contact-content form .form-field input {
  font-size: 1.15em;
  background-color: rgba(153, 153, 153, 0.2);
  color: #333;
  border: 1px solid rgba(153, 153, 153, 0.2);
  height: 4rem;
  padding: 0.5rem 1rem;
  margin-top: 0.8rem;
  border-radius: 5px;
}

main section.contact .contact-content form .form-field textarea {
  background-color: rgba(153, 153, 153, 0.2);
  color: #333;
  border: 1px solid rgba(153, 153, 153, 0.2);
  font-size: 1.5em;
  padding: 0.5rem 1rem;
  margin-top: 0.8rem;
  border-radius: 5px;
}

main section.contact .contact-content form .form-field input::placeholder,
main section.contact .contact-content form .form-field textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 0.85em;
  font-weight: 600;
  letter-spacing: 1px;
}

main section.contact .contact-content form button {
  align-self: flex-end;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  background-color: #7752fe;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 1.3rem 4rem;
  cursor: pointer;
}

/* footer */
footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 5rem;
}

footer .footer-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

/* footer-upper */
footer .footer-container .footer-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6rem;
}

footer .footer-container .footer-upper .profile {
  width: 45%;
  color: white;
  display: flex;
  flex-direction: column;
}

footer .footer-container .footer-upper .profile h3,
footer .footer-container .footer-upper .social-media h3 {
  font-size: 1.5em;
  letter-spacing: 1px;
  margin-bottom: 1.25rem;
}

footer .footer-container .footer-upper .profile p {
  font-size: 0.85em;
  letter-spacing: 1px;
  padding-right: 4rem;
}

footer .footer-container .footer-upper .social-media {
  color: white;
  padding-right: 1rem;
}

footer .footer-container .footer-upper .social-media ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 2.25rem;
}

footer .footer-container .footer-upper .social-media ul li {
  list-style-type: none;
}

footer .footer-container .footer-upper .social-media ul li a {
  color: white;
  text-decoration: none;
}

footer .footer-container .footer-upper .social-media ul li a i {
  transform: scale(1.5);
}

/* footer lower */
footer .footer-container .footer-lower {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 3rem;
}

footer .footer-container .footer-lower p {
  font-size: 0.9em;
}

footer .footer-container .footer-lower p a {
  color: white;
  font-weight: 700;
}

/* lanjut bagian media query */
